<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" responseHeaderEncoding="UTF-8" />
    <httpRuntime maxRequestLength="2048000" executionTimeout="600" />
  </system.web>
  <system.webServer>
      <staticContent>
          <mimeMap fileExtension=".x3d" mimeType="model/x3d+xml" />
      </staticContent>
  </system.webServer>
</configuration>
